body {
  font-family: 'Alegreya Sans', Calibri, sans-serif;
}

svg {
  border: solid #ccc 1px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.ui-slider {
  position: relative;
  text-align: left;
  margin: auto;
  width: 60%;
}

.left-center {
  margin: auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}